mat-dialog-actions {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  transform: translateY(100%);
}

.login-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  position: relative;
  right: 15px;
  top: 5px;
}
.login-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
